html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Serif Caption', serif;
}

.navbar, .navbar-end {
    display: flex;
    flex-direction: row;
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
}

.navbar-dropdown {
    background-color: black;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: rgba(255,255,255,.7);
}

.title, .subtitle {
    color: rgba(255,255,255,.7) !important;
}

#main  {
    height: 100vh;
    background-image: url("burger-main.jpg");
    background-size: cover;
}

.home-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.15);
}
  
#menu {
    height: 100vh;
    background-image: url("donuts.jpg");
    background-size: cover;
}

#main-title {
    margin: 20% 0;
    font-size: 6vh;
}

#main-subtitle {
    font-size: 4vh;
}

#menu {
    height: 130vh;
}

.title.is-1 {
    font-size: 6vh;
}

.box {
    background-color: transparent;
    border: 3px solid rgba(255,255,255,.7);
}

.box:hover{
    background-color: rgba(255,255,255,.6);
    cursor: pointer;
}

article .title, .subtitle {
    font-size: 2.5vh;
}

#contact {
    height: 100vh;
    background-image: url("drinks.jpg");
    background-size: cover;
}

#contact-data {
    margin: 15% 0;
}

#contact-data a {
    color: rgba(255,255,255,.7);
}

.title.is-3 {
    font-size: 3vh;
}

.social {
    cursor: pointer;
    margin: 15% 0;
}

.social a {
    margin-right: 10px;
    color: rgba(255,255,255,.7);
    font-size: 200%;
}

.social a:hover {
    color: rgba(255,255,255,.9);
}

.footer {
    padding: 1.5rem;
    font-size: 2vh;
    background-color: transparent;
}

.modal-card-foot, .modal-card-head {
    background-color: rgba(255,255,255,.7);
}

@media (min-width: 768px) {
    #main-title {
        margin: 10% 0;
        font-size: 8vh;
    }
    
    #main-subtitle {
        font-size: 6vh;
    }

    #contact-data, .social {
        margin: 5% 0;
    }

    .title.is-3 {
        font-size: 4vh;
    }
}

@media (min-width: 1024px) {
    #main-title {
        margin: unset;
    }

    #main-subtitle {
        margin-top: 5%;
    }

    #menu {
        height: 100vh;
    }

    article .title {
        font-size: 5vh;
    }

    article .subtitle {
        font-size: 4vh;
    }
}