.navbar-dropdown {
    background-color: black;
}

#main  {
    background-image: url("burger-main.jpg");
    background-size: cover;
}

#menu {
    background-image: url("donuts.jpg");
    background-size: cover;
}

.box {
    background-color: transparent;
    border: 3px black solid
}

.box:hover{
    background-color: black;
    cursor: pointer;
}

#contact {
    background-image: url("drinks.jpg");
    background-size: cover;
}

.footer {
    padding: 1.5rem;
    background-color: transparent;
}